<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888129916755-b32ect8os14af3rgn7n9pmt1o8hdv6ik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888129916755-b32ect8os14af3rgn7n9pmt1o8hdv6ik</string>
	<key>API_KEY</key>
	<string>AIzaSyDGQ1u3sD3q-LnQM9mXUKNyVd7k3pEG0Ik</string>
	<key>GCM_SENDER_ID</key>
	<string>888129916755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Thinker</string>
	<key>PROJECT_ID</key>
	<string>thinker-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>thinker-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888129916755:ios:26ee94ca8f145b1b011ba6</string>
</dict>
</plist>